# Ignore development dependencies and build artifacts
*.log
*.tsbuildinfo

# Ignore source files
src/

# Ignore configuration and metadata files
nodemon.json
tsconfig.json
webpack.config.js

# Ignore IDE and OS-specific files
.vscode/
.idea/
Thumbs.db
